<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link href="/assets/styles.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <h1>Hello <%= title %></h1>
  <p>
    Troy Williams | Stanley Wong
  </p>
  <h4>
    United We Stand. Divided We Fall
  </h4>
</body>
</html>
